<footer class="footer">
    <div class="container">
        <div class="row flex-sm-column flex-md-row">
            <div class="col-12 col-md-3 d-flex flex-column align-items-center align-items-md-start">
                <h5 class="footer_item-title">Compania</h5>
                <a href="<%= contacts_path %>" class="footer_item-link">Despre noi</a>
                <a href="<%= puzzle_path %>" class="footer_item-link">Produse</a>
                <!-- <a href="#" class="footer_item-link">Projects</a> -->
                <!-- <a href="#" class="footer_item-link">Blog</a> -->
                <a href="<%= contacts_path %>" class="footer_item-link">Contacteaza-ne</a>
                <!-- <a href="#" class="footer_item-link">Sitemap</a> -->
            </div>

            <div class="col-12 col-md-3 d-flex flex-column align-items-center align-items-md-start">
                <h5 class="footer_item-title">Produse</h5>

                <a class="footer_item-link" href="#">Sistemul de parcare puzzle</a>

                <a class="footer_item-link" href="#">Sistemul de parcare twin</a>

                <a class="footer_item-link" href="#">Sistemul de parcare tower</a>

                <a class="footer_item-link" href="#">Sistemul de parcare rotary</a>
            </div>

            <div class="col-12 col-md-3 d-flex flex-column align-items-center align-items-md-start">
                <h5 class="footer_item-title">Partners</h5>

                <a class="footer_item-link" href="#">Ford Enterprise</a>

                <a class="footer_item-link" href="#">Gerre</a>

                <a class="footer_item-link" href="#">Diodio</a>

                <a class="footer_item-link" href="#">Feegway</a>

                <a class="footer_item-link" href="#">Rouney</a>
            </div>

            <div class="col-12 col-md-3 text-center">
                <h5 class="footer_item-title">Follow Us</h5>

                <a class="social_icon" href="#">
                    <svg width="35" height="34" viewbox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33.0483 16.6458C33.0483 25.2657 25.8953 32.2917 17.0241 32.2917C8.15295 32.2917 1 25.2657 1 16.6458C1 8.02595 8.15295 1 17.0241 1C25.8953 1 33.0483 8.02595 33.0483 16.6458Z" stroke="#333333" stroke-width="2"></path>

                        <path d="M9.82914 10.8398H6.79139V21.7214H2.18894V10.8398H0V7.01553H2.18894V4.54082C2.18894 2.77114 3.04868 0 6.83236 0L10.2416 0.0139459V3.72601H7.76796C7.36222 3.72601 6.79169 3.92422 6.79169 4.76841V7.01909H10.2312L9.82914 10.8398Z" transform="translate(11.4749 6.45764)" fill="#333333"></path>
                    </svg>
                </a>

                <a class="social_icon" href="#">
                    <svg width="35" height="34" viewbox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33.0483 16.6458C33.0483 25.2657 25.8953 32.2917 17.0241 32.2917C8.15295 32.2917 1 25.2657 1 16.6458C1 8.02595 8.15295 1 17.0241 1C25.8953 1 33.0483 8.02595 33.0483 16.6458Z" transform="translate(0.0682373)" stroke="#333333" stroke-width="2"></path>

                        <path d="M13.4473 0H6.11239C2.73713 0 0 2.6763 0 5.97656V13.1484C0 16.4487 2.73713 19.125 6.11239 19.125H13.4473C16.8225 19.125 19.5597 16.4487 19.5597 13.1484V5.97656C19.5597 2.6763 16.8225 0 13.4473 0ZM17.7259 13.1484C17.7259 15.4554 15.8066 17.332 13.4473 17.332H6.11239C3.75301 17.332 1.83372 15.4554 1.83372 13.1484V5.97656C1.83372 3.66961 3.75301 1.79297 6.11239 1.79297H13.4473C15.8066 1.79297 17.7259 3.66961 17.7259 5.97656V13.1484Z" transform="translate(7.3125 7.08325)" fill="#333333"></path>

                        <path d="M4.88991 0C2.18946 0 0 2.1408 0 4.78125C0 7.4217 2.18946 9.5625 4.88991 9.5625C7.59037 9.5625 9.77983 7.4217 9.77983 4.78125C9.77983 2.1408 7.59037 0 4.88991 0ZM4.88991 7.76953C3.20534 7.76953 1.83372 6.42839 1.83372 4.78125C1.83372 3.13291 3.20534 1.79297 4.88991 1.79297C6.57449 1.79297 7.94611 3.13291 7.94611 4.78125C7.94611 6.42839 6.57449 7.76953 4.88991 7.76953Z" transform="translate(12.2023 11.8645)" fill="#333333"></path>

                        <path d="M0.651581 1.2742C1.01144 1.2742 1.30316 0.988963 1.30316 0.637102C1.30316 0.28524 1.01144 0 0.651581 0C0.291723 0 0 0.28524 0 0.637102C0 0.988963 0.291723 1.2742 0.651581 1.2742Z" transform="translate(21.6973 10.8689)" fill="#333333"></path>
                    </svg>
                </a>

                <a class="social_icon" href="#">
                    <svg width="35" height="34" viewbox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33.7727 17C33.7727 25.8155 26.4576 33 17.3864 33C8.31512 33 1 25.8155 1 17C1 8.18451 8.31512 1 17.3864 1C26.4576 1 33.7727 8.18451 33.7727 17Z" transform="translate(0.136475)" stroke="#333333" stroke-width="2"></path>

                        <path d="M20.2563 1.90552C19.5112 2.22856 18.7098 2.44706 17.8692 2.54464C18.7274 2.04189 19.386 1.24641 19.6969 0.29698C18.8939 0.762754 18.004 1.10065 17.0578 1.28277C16.2998 0.493351 15.2197 0 14.0236 0C11.7289 0 9.86781 1.81976 9.86781 4.06348C9.86781 4.38197 9.90469 4.69199 9.97598 4.98957C6.52213 4.82017 3.45973 3.20254 1.40986 0.74336C1.05221 1.34338 0.847034 2.04189 0.847034 2.78646C0.847034 4.19591 1.58125 5.44019 2.69576 6.1687C2.01484 6.14779 1.3736 5.96506 0.813562 5.6599C0.813252 5.67717 0.813252 5.69445 0.813252 5.71142C0.813252 7.68027 2.24636 9.32245 4.14715 9.6955C3.79879 9.78883 3.43091 9.83823 3.05248 9.83823C2.78409 9.83823 2.52406 9.81308 2.27054 9.7658C2.79927 11.3798 4.33373 12.5547 6.1527 12.5877C4.73013 13.6778 2.93843 14.3272 0.990841 14.3272C0.656118 14.3272 0.324495 14.3081 0 14.2702C1.83819 15.4236 4.02318 16.096 6.36996 16.096C14.014 16.096 18.1943 9.90429 18.1943 4.5341C18.1943 4.35803 18.1903 4.18257 18.1823 4.00863C18.9949 3.43588 19.6994 2.7204 20.2563 1.90552Z" transform="translate(7.9162 9.20825)" fill="#333333"></path>
                    </svg>
                </a>

                <a class="social_icon" href="#">
                    <svg width="35" height="34" viewbox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33.7727 17C33.7727 25.8155 26.4576 33 17.3864 33C8.31512 33 1 25.8155 1 17C1 8.18451 8.31512 1 17.3864 1C26.4576 1 33.7727 8.18451 33.7727 17Z" transform="translate(0.227295)" stroke="#333333" stroke-width="2"></path>

                        <path d="M17.6916 1.12924C17.027 0.327171 15.8002 0 13.4571 0H4.95181C2.55512 0 1.30746 0.348276 0.645447 1.2022C0 2.03478 0 3.26153 0 4.95937V8.19545C0 11.4847 0.765818 13.1548 4.95181 13.1548H13.4572C15.4891 13.1548 16.615 12.8661 17.3434 12.1582C18.0904 11.4324 18.4091 10.2472 18.4091 8.19545V4.95937C18.4091 3.16885 18.3591 1.93487 17.6916 1.12924ZM11.8187 7.02418L7.95647 9.07374C7.87012 9.11956 7.7757 9.1423 7.6814 9.1423C7.57463 9.1423 7.46809 9.11311 7.37373 9.05511C7.19605 8.94579 7.08756 8.75024 7.08756 8.53933V4.45336C7.08756 4.2428 7.19576 4.04744 7.37308 3.93806C7.55046 3.82868 7.77107 3.8212 7.9551 3.91828L11.8173 5.95463C12.0138 6.05822 12.1372 6.2642 12.1375 6.48893C12.1378 6.71383 12.0149 6.92011 11.8187 7.02418Z" transform="translate(8.40894 10.1191)" fill="#333333"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>