<header>
    <div class="container">
        <div class="sp_wrapper">
            <div class="location"></div>

            <div class="faq">
                <a class="" href="#">FAQ</a>
            </div>
        </div>
    </div>
</header>