<%= render 'header' %>
<%= render 'menu' %>
<div class="sp_promo_wrapper">
    <div class="container">
        <div class="breadcrumbs"><a href="#" class="breadcrumbs_link">home /</a><a href="#" class="breadcrumbs_link">products /</a><a href="#" class="breadcrumbs_link">Stack Parking System</a></div>
        <div class="sp_promo">
            <h1 class="sp_promo_title">Stack Parking System</h1>
            <p class="sp_promo_text">Sistemul Puzzle este destinat utilizării </p>
            <p class="sp_promo_text">optime a spațiului pe teren.</p>
            <p class="sp_promo_text">Este proiectat electromecanic pentru a</p>
            <p class="sp_promo_text">merge vertical până la 9 nivele și orizontal,</p>
            <p class="sp_promo_text">la cât mai mult spațiu disponibil pe teren.</p>
            <p class="sp_promo_text">basement type parking.</p><a href="#" class="sp_promo_btn">GET A QUOTE</a>
        </div>
    </div>
</div>
<form id="form">
    <div class="form"><a href="#" class="form_close"><i aria-hidden="true" class="far fa-times-circle"></i></a>
        <h2>Send Enquiry</h2>
        <label>Name
            <input id="name" type="text" placeholder="Name" required="required">
        </label>
        <label>Email
            <input id="email" type="email" placeholder="Email" required="required">
        </label>
        <label>Phone
            <input id="tel" type="tel" placeholder="Phone" required="required">
        </label>
        <label>Message
            <textarea name="#" cols="0" rows="5"
                      placeholder="hi, i like your puzzleparking system, and wonna order it..."
                      required="required"></textarea>
        </label>
        <div class="submit">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
<div class="sp_features_wrapper-pzl">
    <div class="sp_features">
        <div class="container">
            <div class="sp_features_title">Special Features</div>
            <div class="row">
                <div class="sp_features_item col-12 col-md-4 d-flex flex-column justify-content-between">
                    <div class="row p-b"><span class="sp_features_icon barrier col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Yellow Pipe Barrier</h5>
                            <p class="sp_features_text">The Pipe Barrier ensures the driver has reached the end of the
                                pallet and he leaves the car with a happy mind that his car is safely parked.</p>
                        </div>
                    </div>
                    <div class="row p-b"><span class="sp_features_icon slowmo col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Slow Mo</h5>
                            <p class="sp_features_text">The Slow-Mo feature ensures the load transferred to the
                                hydraulic motor is kept to the minimum, while the pallet is in operation, and by doing
                                so the longevity of the hydraulics is increased.</p>
                        </div>
                    </div>
                </div>
                <div class="sp_features_item col-12 col-md-4 d-flex flex-column justify-content-between">
                    <div class="row p-b"><span class="sp_features_icon cross col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Cross Beam Vehicle Sensor</h5>
                            <p class="sp_features_text">The sensor makes sure the car parked above does not move
                                downwards when there is car parked below, even if it is signaled (knowingly or
                                unknowingly) by anyone to come down.</p>
                        </div>
                    </div>
                    <div class="row p-b"><span class="sp_features_icon indication col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Indication Lamps and Buzzers</h5>
                            <p class="sp_features_text">The sensor makes sure the car parked above does not move
                                downwards when there is car parked below, even if it is signaled (knowingly or
                                unknowingly) by anyone to come down.</p>
                        </div>
                    </div>
                </div>
                <div class="sp_features_item col-12 col-md-4 sp_bg"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="gallery row justify-content-between">
        <div class="gallery_item col-12 col-md-6">
            <div class="pzl-video-description">
                <p>Sistemul Puzzle este destinat utilizării optime a spațiului pe teren. Este proiectat electromecanic
                    pentru a merge vertical până la 9 nivele și orizontal, la cât mai mult spațiu disponibil pe
                    teren</p>
            </div>
        </div>
        <div class="gallery_item col-12 col-md-6 pos-rel">
            <h2 class="gallery_item_title">SEE VIDEO</h2>
            <div class='video-wrapper'>
                <!-- <img class="video-play-btn" src="../images/Vector.png"> -->
                <!-- <a href="javascript://" class='button'></a> -->
                <div class='video'>
                    <iframe id="player" width="560" height="300"
                            src="https://www.youtube.com/embed/UJTY7ilwSq4?showinfo=0" frameborder="0"
                            allowfullscreen></iframe>
                    <a class="close" href="#"><img src="/images/close.svg" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row slide-block" style="margin-right: 0;">
<div class="container">
    <h3>Gallery</h3>
    <div class="pzl-slider-block col-sm">
        <div class="pzl-slider-for">
            <div><img src="../images/slide-images/stack01.png"></div>
            <div><img src="../images/slide-images/stack02.png"></div>
            <div><img src="../images/slide-images/stack03.png"></div>
            <div><img src="../images/slide-images/stack04.png"></div>
            <div><img src="../images/slide-images/stack05.png"></div>
        </div>
        <div class="pzl-slider-nav">
            <div><img src="../images/slide-images/stack01.png"></div>
            <div><img src="../images/slide-images/stack02.png"></div>
            <div><img src="../images/slide-images/stack03.png"></div>
            <div><img src="../images/slide-images/stack04.png"></div>
            <div><img src="../images/slide-images/stack05.png"></div>
        </div>
    </div>
</div>
</div>


<%= render 'footer' %>

<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/why.js"></script>
<script src="/vendor/slick-slider/slick/slick.min.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.js"></script>
<script type="/text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<style>
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }
</style>