<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>С сайта пришла новая заявка</h1>
    <p>
      Данные пользователя:<br/>
      <%= @email %> <br />
      <%= @name %> <br />
      <%= @phone %> <br />
      <%= @message %> <br />
    </p>
    <p>Спасибо!</p>
  </body>
</html>