<!DOCTYPE html>
<html>
  <head>
    <title>Topparking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> </link>
    <link rel="stylesheet" href="/vendor/slick-slider/slick/slick-theme.css"> </link>
    <link rel="stylesheet" href="/vendor/slick-slider/slick/slick.css"> </link>
    <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css"> </link>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> </link>
    <link rel="stylesheet" href="css/reset.css"> </link>
    <link rel="stylesheet" href="css/bootstrap-grid.css"> </link>
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css"> </link>
  </head>

  <body>
    <%= yield %>
    <script src="/vendor/slick-slider/slick/slick.min.js"></script>
    <script src="/vendor/fancybox/jquery.fancybox.js"></script>
  </body>
</html>
